{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <h1>Restaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.description }}</td>
                <td>{{ restaurant.createdAt ? restaurant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_c_r_u_d_restaurant_show', {'id': restaurant.id}) }}">show</a>
                    <a href="{{ path('app_c_r_u_d_restaurant_edit', {'id': restaurant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_c_r_u_d_restaurant_new') }}">Create new</a>
{% endblock %}
